.customers {
  
}

.customers__list {
  padding-left: 15px;
  padding-right: 15px;
}

.customers__header {
  margin-top: 12%;
  margin-bottom: 68px;
  
  text-align: center;
}

.customers__item {
  min-height: 265px;
}

.customers__logo {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  
  max-height: 265px;
  max-width: 100%;
  
  &--gazprom {
    top: 35%;
  }
  &--ginza {
    top: 56%;
  }
}

.customers__hero-quote {
  position: relative;
  
  display: block;
  margin-top: 6.4em;
  margin-bottom: 8.4em;
    
  font-size: 34px;
  font-weight: 300;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.1px;
  
  &::before {
    position: absolute;
    top: -10.2rem; left: 50%; 
    transform: translateX(-50%);
    
    display: block;
    width: 45px;
    height: 4px;
    
    border: 2px solid #e74c3c;
    
    content: "";
  }
  &::after {
    position: absolute;
    bottom: -10.6rem; left: 50%; 
    transform: translateX(-50%);
    
    display: block;
    width: 45px;
    height: 4px;
    
    border: 2px solid #e74c3c;
    
    content: "";
  }    
}
.customers__slider {
  position: relative;
  
  margin-bottom: 12.7%;    
}
.customers__slider-item {
  position: relative;
  padding-left: 15px;
}

/* vvv  выравнивание по вертикали в зависимости от наличия класса modernizr .flexbox */
.flexbox .customers__slider-item {
  display: flex;
  flex-flow: row wrap;  
  align-items: center;
  
  .customers__slider-info {
    position: relative;
    top: auto;
    transform: none;
  }
}
.customers__slider-info {
  position: absolute;
  top: 50%; right: 0;
  transform: translateY(-50%);
}
/* ^^^ выравнивание по вертикали в зависимости от наличия класса modernizr .flexbox */

.customers__video-container { 
  width: 60.5%;
  min-height: 553px;
  padding-left: 0;
  padding-right: 0;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.43) 100%), url("../img/video-preview.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.customers__slider-info {
  width: 39.5%;
  padding-left: 5.9%;
  padding-right: 10%;
}

.customers__person {  
  margin-bottom: 0;
  
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.customers__post {
  display: inline-block;
  margin-top: 1.4em;
  
  font-size: 17px;
  font-weight: 300;
  line-height: 32px;
}

.customers__slider-button {
  position: absolute;
  top: 50%; 
  
  width: 27px;
  height: 110px;
  
  border: none;
  border-radius: 0;
  background-color: transparent;
  background: url("../img/icon-arrow-right.svg") center no-repeat / cover;
  
  &--previous {
    left: -30px;
    transform: scaleX(-1) translateY(-50%);
  }
  &--next {
    right: 0;
    transform: translateY(-50%);
  }
}