.project-block {
  position: relative;
  
  // min-height: 70vh;
  
  &--gazprom {
    background-color: #bdcbd7;
  }
  &--tinkoff {
    background-color: #fed500;    
  }
  &--adidas {
    background-color: white;    
  }
  &--all {
    z-index: 20;
    
    min-height: 15.2em;
    
    background-color: #303030;    
  }
  
  @media (min-width: @screen-md) {
    margin-left: @custom-container-padding * -1;
    margin-right: @custom-container-padding * -1;
    
    padding-left: @custom-container-padding;
    padding-right: @custom-container-padding;
  }
}

.project-block__image {
  position: absolute;
  z-index: 10;
  
  width: 50%;
  
  &--gazprom {
    top: 8%; left: 0; 
    
    width: 66.8%;
  }
  &--tinkoff {
    top:0; right: 0;
        
    width: 100%;
  }
  &--adidas {
    top: 17.5%; left: 0;
    
    width: 37.5%;
  }
  
}

.project-block__info {
  position: relative;
  z-index: 15;
  
  margin-top: 15%;
  margin-bottom: 15%;
    
  &--gazprom {
    margin-top: 14.5%;
    margin-bottom: 18.52%;
    padding-right: 0;
    padding-left: 49px;  
  }  
  &--tinkoff {
    margin-top: 9.8%;
    margin-bottom: 13.8%;
    padding-left: 4px;
  }
  &--adidas {
    margin-top: 13%;
    margin-bottom: 16.9%;
    padding-left: 7.1%;
  }
}

.project-block__header {
  margin-left: -1px;
  margin-bottom: 25px;
  
  font-size: 48px;
  line-height: 110px;  
}

.project-block__list {
  margin-bottom: 5em;
  padding-left: 0;
  
  list-style: none;
}
.project-block__list-item {
  margin-bottom: 0.65em;
  
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
}


.project-block__button {
  display: inline-block;
  padding-top: 1.1em;
  padding-right: 3.1em;
  padding-bottom: 1.1em;
  padding-left: 1.3em;
  
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: black;
  
  border: 2px solid black;
  border-radius: 0;
  background-color: transparent;
  
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;  

  &:link, &:visited {
    color: black;
    text-decoration: none;
  }  
  &:hover {
    text-decoration: none;
    color: white;
    
    background-color: black;    
  }
  &--all {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    border-color: white;    
  }    
  &--all:hover {
    color: #303030;
    
    border-color: white;
    background: white;      
  }   

}