.reasons {
  background-color: #f1f2f2;
}

.reasons__row {
  margin-bottom: 5.2rem;
  
  &:last-of-type {
    margin-bottom: 8.75%;
  }
}

.reasons__header {
  position: relative;
  left: 1em;
  z-index: 10;
  
  display: inline-block;
  margin-top: 2.9em;
  margin-bottom: 3.75em;

  line-height: 56px;
  text-align: center;
  
  background-color: transparent;
}

.reasons__header-symbol {
  position: absolute;
  top: -3.5em; left: -4em; 
  z-index: -1;
  
  display: block;
  width: 8.7em;
  height: 6.5em;  
  
  color: transparent;
  pointer-events: none;  
    
  background: url("../img/six.png") top center no-repeat / contain;
  
  content: "";
}

.reasons__item {  
  padding-right: 4em;
  
  &:first-of-type {
    width: 34.6%;
    padding-right: 5%;
  }
  &:last-of-type {
    width: 66.6% - 34.6%;
    padding-left: 2.4%;
    padding-right: 2%;
  }
}

.reasons__item-header {
  position: relative;
  
  margin-bottom: 23px;
  padding-left: 50px;
    
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.2px;
  
  &::before {
    position: absolute;
    top: 50%; left: -10px; 
    transform: translateY(-50%);
    
    display: block;
    width: 45px;
    height: 4px;
    
    border: 2px solid #e74c3c;
    
    content: "";
  }

}

.reasons__item-description {
  font-size: 17px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.2px;
}