.services {
  position: relative;
  z-index: 1;
  
  padding-bottom: 6.6%;
}

.services__header {  
  margin-top: 6%;
  margin-bottom: 4.9%;
  
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  
  @media (min-width: @screen-md) {
    font-size: 48px;
    line-height: 56px;
  }
}

.services__item {
  margin-bottom: 3.5%;
  
  padding-right: 5%;
  width: 34.68%;
  letter-spacing: 0.1px;
  
  &:nth-of-type(2) {
    margin-top: -4px;
  }
  &:nth-of-type(3) {
    width: 30%;
    margin-top: -5px;
    padding-right: 2%;
  } 
  &:nth-of-type(4) {
    margin-left: 17.45%;
  }
  
  @media (max-width: @screen-sm) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    
    text-align: center;
    
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
    &:last-of-type {
      margin-bottom: 3em;
    }
  }
}

.services__icon {
  max-width: 60px;
  max-height: 60px;
}

.services__item-header {
  display: block;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 19px;
  
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}

.services__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}

.services__figure {
  position: absolute;
  z-index: -1;
    
  &:nth-of-type(odd) {
    animation: rotating 20s linear infinite;
  }
  &:nth-of-type(even) {
    animation: rotating-back 10s linear infinite;  
  }
  
  &:nth-of-type(1) {
    left: -5.5%; top: 12%;
  }
  &:nth-of-type(2) {
    left: 10%; bottom: 5%;
  }
  &:nth-of-type(3) {
    left: -8.5%; top: 61%;
  }
  &:nth-of-type(4) {
    right: -1.5%; bottom: 11.5%; 
  }
  &:nth-of-type(5) {
    right: -1.4%; top: 7.5%; 
  }
}
